body {
    padding-top: 50px;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.forkme {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    z-index: 9999;
}

pre code. {
    display: none;
}